services:
  storybook:
    container_name: storybook
    build:
      context: ./frontend
      dockerfile: docker/Dockerfile
    ports:
      - 6006:6006
    volumes:
      - ./frontend:/app
      - storybook_node_modules:/app/node_modules
    tty: true
    hostname: storybook
    working_dir: /app

volumes:
  storybook_node_modules:
